.quiz-container {
    max-width: 700px;
    margin: 0 auto;
    padding: 70px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.quiz-container h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.quiz-question {
    margin-bottom: 20px;
}

.quiz-question h2 {
    font-size: 20px;
    color: #555;
}

.form-check {
    margin-top: 10px;
}

.form-check-input {
    margin-right: 10px;
}

.form-check-label {
    cursor: pointer;
}

.btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.btn:hover {
    background-color: #0056b3;
}

.quiz-results {
    text-align: center;
}

.quiz-results h2 {
    color: #333;
    font-size: 22px;
    margin-bottom: 10px;
}

.alert {
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
}

.alert-info {
    background-color: #e7f3fe;
    color: #31708f;
    border: 1px solid #bce8f1;
}

.quiz-container button {
    margin-top: 15px;
}

.quiz-container button:hover {
    background-color: #004085;
}

.quiz-results p {
    font-size: 18px;
    color: #555;
}

.btn-chapter {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
    background: linear-gradient(135deg, #6e85b7, #b8c1ec);
    color: #fff;
    border: none;
    border-radius: 10px;
    transition: transform 0.3s, background 0.3s;
    cursor: pointer;
}

.btn-chapter:hover {
    transform: translateY(-5px);
    background: linear-gradient(135deg, #4e73ab, #9caee3);
}

.btn-chapter:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


